body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.head {
  background: white;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  height: 80px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  padding-right: 36px;
  padding-left: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  z-index: 101;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
}

.Profile {
  cursor: pointer;
}

.log-img {
  position: absolute;
  margin-top: 70px;
  margin-left: -155px;
  cursor: pointer;
}

.log-img:hover {
  transform: scale(1.05);
  transition: all 100ms ease-in-out;
}

.d-none {
  display: none !important;
}

.img-mini {
  display: none;
}

.mobile-options {
  z-index: 9999;
  position: absolute;
  top: 6.6rem;
  margin-left: -115px;
  background-color: #2a3647;
  color: rgb(136, 136, 136);
  width: 150px;
  height: 80px;
  border-radius: 16px 0px 16px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-me {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mobile-options a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: -40px;
}

.mobile-options a:hover {
  color: white;
}

.log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 480px) {
  .mobile-options {
    margin-left: -38px;
    width: 125px;
    height: 73px;
  }

  .notice-log {
    color: white;
  }

  .log-img {
    color: white;
    padding-right: 23px;
  }
}

@media (max-width: 1000px) {
  .log-img {
    display: none;
  }

  .text-p {
    margin-left: -275px;
  }
}

@media (max-width: 670px) {
  .img-mini {
    display: flex;
  }

  .text-p {
    display: none;
  }

  .head {
    padding-left: 36px;
  }
}

@media (max-width: 375px) {
  .mobile-options a {
    color: white;
  }
}
