body {
  font-family: "Inter", sans-serif;
}

.right-help-Container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: 232px;
  margin-right: 80px;
  margin-top: 133px;
}

.right-Notiz {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.neben {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.p-px {
  padding-left: 30px;
  font-size: 17px;
}

.p-px1 {
  font-size: 17px;
}

.nummer {
  font-size: 3vh;
}

h1 {
  font-size: 5vh;
}

.h1-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-close {
  cursor: pointer;
}

.img-close:hover {
  transform: scale(1.08);
  transition: all 150ms ease-in-out;
}

h2 {
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 30px;
}

@media (max-width: 1000px) {
  .right-help-Container {
    margin-left: 0px;
  }

  .right-Notiz {
    margin-left: 50px;
  }

  .p-px1 {
    font-size: 15px;
  }

  .p-px {
    font-size: 15px;
  }
}

@media (max-width: 685px) {
  .right-help-Container {
    margin-top: 10rem;
  }
}

@media (max-width: 580px) {
  .content {
    padding-bottom: 80px;
  }
}

@media (max-width: 375px) {
  .right-help-Container {
    margin-top: 85px;
  }
}
