@media only screen and (max-width: 700px) {
  body {
    background-color: var(--btnBackgroundColor);
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  @keyframes changeBcg {
    0% {
      background-color: var(--btnBackgroundColor);
    }
    100% {
      background-color: var(--bgColor);
    }
  }

  #join-start-img {
    display: none;
  }

  /* Join start image styles */
  #join-start-img-responsive {
    width: 10rem;
    height: 12.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./assets/img/join-small-white.svg);
  }

  @keyframes changeImg {
    0% {
    }
    100% {
      top: 7.4rem;
      left: 5.6rem;
      width: 6.4rem;
      height: 7.8rem;
      background-image: url(./assets/img/join-small-blue.svg);
    }
  }

  @keyframes fadeInContainers {
    0% {
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /* Login container styles */
  .login-container {
    width: 35.2rem;
    height: 60rem;
    position: relative;
    opacity: 0;
  }

  /* Login header paragraph styles */
  #login-header p {
    font-size: 4.7rem;
  }

  /* Login divider styles */
  #login-divider {
    width: 8rem;
  }

  /* Login form styles */
  .login-form {
    width: 32.2rem;
  }

  /* Login email, password, and user styles */
  #login-email,
  #login-password,
  #login-user {
    width: 32.2rem;
  }

  /* Login options styles */
  #login-options {
    width: 32.2rem;
    height: 6.9rem;
    display: flex;
    flex-direction: column-reverse;
  }

  /* Login buttons container styles */
  #login-buttons {
    width: 18rem;
    height: 12.3rem;
    display: flex;
    flex-direction: column;
  }

  #login,
  #guest-login {
    width: 18rem;
  }

  /* Sign up container styles */
  #sign-up-container {
    opacity: 0;
    top: 80rem;
    left: calc(50% - (28.7rem / 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #signup-container {
    width: 35.2rem !important;
  }

  #login-header {
    margin-top: 2rem;
    justify-content: space-around;
  }

  #signup-form {
    width: 32rem !important;
  }

  #reset-password-container {
    width: 35.2rem !important;
  }

  #sent-confirmation-message {
    width: 35rem !important;
    font-size: 1.8rem !important;
    display: none;
  }

  #forgot-password-container {
    width: 35.2rem !important;
    height: 50rem !important;
  }

  .login-header,
  #login-header {
    width: 30rem !important;
    height: 10rem !important;
    text-align: center;
  }

  #reset-password-info {
    width: 32rem !important;
  }

  #reset-password-form {
    width: 32.2rem !important;
  }

  #sent-message-img {
    display: none;
  }

  #login-header p {
    font-size: 3rem;
    font-style: normal;
    font-weight: var(--weight7);
    line-height: 120%;
  }

  #forgot-password-info {
    width: 32rem;
    font-size: 2rem;
    font-weight: var(--weight4);
    margin-top: 2rem;
  }

  #forgot-password-form {
    width: 32rem !important;
    height: 7.1rem !important;
  }

  @keyframes forgotPasswordIn {
    0% {
      top: 200%;
    }
    100% {
      opacity: 1;
      top: 50%;
    }
  }
}
