.body-popup {
  background-color: #f6f7f8;
  height: 100vh;
  overflow: hidden;
}

.popup-task {
  width: 1116px;
  min-height: 70rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: auto;
  margin-top: 6% !important;
  inset: 0;
  margin-left: 20%;
  inset: 0;
  animation: slideIn 225ms forwards;
  transform: translateX(-00%);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.column-right {
  width: 40rem;
}

.low-opacity {
  opacity: 0.1;
}

.column-container-popup {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.prio-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.overlay-addtask-popup {
  position: absolute;
  margin: auto;
  inset: 0;
}

.prio-popup div {
  width: 33%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.1rem solid var(--dimmed);
  font-size: 2.1rem;
  border-radius: 0.7rem;
  background: white;
  cursor: pointer;
  border: 1px solid #cccc;
}

.prio-popup div:hover {
  transform: scale(1.1);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 20%);
}

.prio-popup div > img {
  margin-left: 0.7rem;
}

.header-container{
  display: flex;
  justify-content: space-between;
  margin-top: -5rem;
}

#closePopup{
  height: 6.1rem;
}

#closePopup:hover{
  cursor:pointer;
  fill:red;
  height: 3.1rem;
}

.dropdown-min span,
.dropdown-object span {
  font-size: 2.1rem;
}

.clear-task-btn {
  background-color: transparent;
  border: 1px solid var(--btnBackgroundColor);
  border-radius: 1rem;
  padding: 1.8rem 1rem;
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
}

.clear-task-btn:hover {
  cursor: pointer;

  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 20%);
  filter: invert(76%) sepia(36%) saturate(6486%) hue-rotate(165deg)
    brightness(93%) contrast(89%);
}

.action-button-container {
  gap: 5rem;
}

.add-task-btn {
  font-size: 2.1rem;

  font-size: 2.1rem !important;
}

.add-task-btn:hover {
  background-color: var(--lightBlue);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 20%);
}

#title {
  font-size: 2.1rem;
}

#description {
  font-size: 2.1rem;
}

#datePicker {
  gap: 0 !important;
}

#subtask-input-content {
  height: 2.1rem;
}

#categoryDisplay {
  font-size: 2.1rem;
}

@media screen and (max-width: 1200px) {
  .column-container-popup {
    display: flex;
    flex-direction: column !important;
  }
  .headline-container {
    align-items: start !important;
  }

  .header-container{
    margin-top: 2rem;
  }
  .hidden {
    overflow-y: scroll !important;
  }
  .body-popup{
    height: unset;
  }
  .popup-task {
    width: unset;
    height: unset;
    background-color: unset;
    box-shadow: unset;
    position: unset !important;
    margin-top:13rem !important;
  }
    .margin-bottom-60 {
    margin-bottom: 0 !important;
  }
  .action-button-container {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .body-board {
    overflow-x: hidden;
  }
  .body-popup {
    overflow-x: hidden;
  }
  .popup-task {
    margin-left: 0;
    z-index: unset;
  }
  .task-card-popup{
    margin-left:5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .headline-text {
    font-size: 4.6rem !important;
  }
  .popup-task{
    display: unset;
  }
  .header-container{
    margin-top:15rem
  }

}

@media screen and (max-width: 500px) {
  .headline-text {
    font-size: 4.6rem !important;
  }
}

@media screen and (max-width: 500px) {
  #clearTask{
    margin-right: 0 !important;
  }
}